<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <p>Hey this little project uses nodejs, express, and mongoose db. 
    You give it some inputs and it saves your object on to mongoose data base where you can access it later</p>
    <h2><a href="/post">CLICK HERE TO ACCESS POST PAGE</a></h2>
</body>
</html>