<!DOCTYPE html>
<html lang="en">
<head>
 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Express Node Mongoose</title>
</head>
<body>

    <table>
        <tr>
            <th>Places Traveled</th>
            <th>Description</th> 
            <th>Rating:</th>
          </tr>
          <tr>
            <td> <%= postObj.title %></td>
            <td> <%= postObj.description %></td>
            <td> <%= postObj.rating %></td>
         </tr>
    </table>
</body>
</html>